<!DOCTYPE html>
<html>
<head>
  <title>Wisewords</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div classes="col-xs-3">
			<div class="bubble">
  				Have some funny 
  				<br />
  				truths to pass on
			</div>
		</div>

		<div class="col-xs-4 slogan">
			If you want to laugh at the truth, this is the place to be
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Add a Laugh Line', '#' %>
			<%= link_to 'About Me', '#' %>
		</div>


	</header>

	<hr />
	<br class="clear" />

<%= yield %>

</body>
</html>
