<!DOCTYPE html>
<html>
<head>
  <title>Wisewords</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<%= link_to root_path, :class => 'logo' do %>
			<div class="bubble">
  				Have some wisecracks 
  				<br />
  				to pass on?
			</div>
			<% end %>
		</div>

		<div class="col-xs-4 slogan">
			Making laughs available all the time
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Add Wisecracks', new_quote_path %>
			<%= link_to 'About Me', '#' %>
		</div>
	<br />
	<br />
	<br />
	<br />
	<br />
</header>
<hr />
<br class="clear" />

<div class="container">
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
		<div class="col-xs-6">
			<%= link_to	"This isn't enough, I need to laugh some more", root_path, :class => 'next-quote' %>
		</div>
		<div class="co-xs-6 footer-blurb">
			Proudly hacked in the Big Apple by Ingrid J
		</div>
	</div>
</div>		

</body>
</html>
